.weather{
  width: 97%;
  height: 250px;
  padding: 40px;
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 36px;
  color: #000;
  background: url('./img/home.png');
  background-position-y: -60px;
  border-radius: 20px;
  box-shadow:-1px 10px 29px 0px rgba(171,163,72,0.2);
  text-shadow: 3px 3px 10px rgb(138, 138, 138);
}